Drony/data/Drone/XSD/drone.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  targetNamespace="Drone"
  elementFormDefault="qualified"
  attributeFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:dr="Drone"
  >

  <!-- Elément racine du drone -->
  <xs:element name="drone" type="dr:drone-type"/>

  <!-- Type d'un drône -->
  <xs:complexType name="drone-type">
    <xs:sequence>
      <xs:element name="nom" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="poids" type="xs:float" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>